src/config/firebase.js
public/firebase-config.js
build
**.DS_Store
functions/node_modules
node_modules
.firebaserc
**.swp
**.swo
*.log
*.cache
functions/detailView.template.html
functions/userView.template.html
