<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>我地 Our Land</title>

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Our Land">
    <meta name="theme-color" content="#303F9F">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="我地 Our Land">
    <meta name="apple-mobile-web-app-status-bar-style" content="#303F9F">

    <!-- Tile icon for Win8 -->
    <meta name="msapplication-TileColor" content="#3372DF">
    <meta name="msapplication-navbutton-color" content="#303F9F">

    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

    <!-- App Styling -->
    <link rel="stylesheet" href="/styles/main.min.css">
    <link rel="stylesheet" href="/{{ "main.css" }}">
  
    <meta property="og:title" content="<!--og:title-->" >
    <meta property="og:description" content="<!--og:description-->" >
    <meta property="og:url" content="<!--og:url-->">
    <meta property="og:image" content="<!--og:image-->">
    <meta property="og:image:width" content="<!--og:image:width-->">
    <meta property="og:image:height" content="<!--og:image:height-->">
    <meta property="og:type" content="<!--og:type-->" >
  </head>
  <body>
    <div id="detailRoot"></div>
    <script src="/{{ "main.js" }}"></script>
  </body>
</html>
