@import "mixin.scss";
.header-title {
  font-size: 6vw;
  font-weight: bold;
  margin-right: 20px;
  @include desktop {
    font-size: 40px;
  }
}

.drawer-menu {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  margin-top: -24px;
  right: 0;
}

.nav-placeholder {
  position: relative;
  width: 100%;
  height: 56px;
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.cta-report-wrapper {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
