@import "mixin.scss";
.header-title {
  font-size: 6vw;
  font-weight: bold;
  margin-right: 20px;
  @include desktop {
    font-size: 40px;
  }
}

.drawer-menu {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  margin-top: -24px;
  right: 0;
}
