.recent-event-wrapper {
  text-align: center;
}
.focus-message-wrapper {
  text-align: center;
}
.message-list-wrapper {
  > div {
    overflow-x: auto;
  }
}
.message-item {
  > div {
    box-shadow: none;
    border-radius: 0;
  }
}
