$blue: #3f51b5;

*,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: MHeiHK, '微軟正黑體' !important;
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
}

img {
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $blue;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
